---
- name: Launch GCP VM
  hosts: localhost
  gather_facts: no
  vars:
    project_id: "qwiklabs-gcp-00-29279b6605f5"       # replace with your GCP project ID
    zone: "us-central1-a"              # replace with your preferred zone
    vm_name: "jenkins-ansible-vm"      # VM name
    machine_type: "e2-micro"           # VM type
    disk_image: "projects/debian-cloud/global/images/family/debian-12"  # OS image
    ansible_gcp: "/var/lib/jenkins/credentials/ansible-gcp.json"  # service account

  tasks:
    - name: Create VM in GCP
      google.cloud.gcp_compute_instance:
        auth_kind: serviceaccount
        service_account_file: "{{ ansible_gcp }}"
        project: "{{ project_id }}"
        zone: "{{ zone }}"
        name: "{{ vm_name }}"
        machine_type: "{{ machine_type }}"
        disks:
          - auto_delete: yes
            boot: yes
            initialize_params:
              source_image: "{{ disk_image }}"
        network_interfaces:
          - network: "default"
            access_configs:
              - name: "External NAT"
                type: "ONE_TO_ONE_NAT"
